body{
    background: #323232;
}

.genius {
    display: flex;
    height: 100%;
    padding: 2%;
    justify-content: space-between;
    box-sizing: border-box;
}


.gameContainer{
    
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 85vh;
    height: 85vh;
}

.gameContainer .game {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gameContainer .game .circle {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
}

.gameContainer .game .circle:nth-child(3){
    width: 40%; 
    height: 40%;
}

.gameContainer .game .circle:nth-child(2){
    width: 55%;
    height: 55%;
}

.gameContainer .game .circle:nth-child(1){
    width: 70%;
    height: 70%;
}

.circle > div {
    cursor: pointer;
    position: relative;
    transform-origin: 100% 100%;
    background: #ccc;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    margin-top: -50%;
    margin-left: -50%;
}

.active .circle > div:active{
    background-color: white !important;
    box-shadow: white !important;
}

.emptyCircle {
    width: 25%;
    height: 25%; 
    justify-items: center;
    align-content: center;
    background: #323232;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5vw;
    text-align: center;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background-color: blue;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: bold;
}

.start.black{
    background-color: black;
}

.start.green{
    background-color: green;
}

.start.cornflowerblue{
    background-color: cornflowerblue;
    color: #000;
    font-weight: 700;
}

.leftPanel .barLoader .barLoader-track{
    height: 6px;
    width: 300px;
    background-color: #e1e1e1;
    width: 192px;
    border-radius: 3px;
}

.leftPanel .barLoader .spectrum-barLoader-filf {
    height: 6px;
    background: green;
    width: 50%;
    transition: width 0.5s;
    border-radius: 3px;
}

.goals strong {
    color: #cdcdcd;
}

.goals p {
    color: #999;
    font-weight: 400;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.goals .text{
    font-size: 28px;
    line-height: 40px;
    font-weight: 300;
    color: #1473e6;
}

.level *{
    color: #cdcdcd;
}

.leftPanel .level {
    word-spacing: 20px;
    padding-bottom: 15px;
}

.leftPanel .barLoader .label {
    color: #b9b9b9;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 9px;
}

.leftPanel .point strong{
    color: #cdcdcd;
    font-size: 20px;
    line-height: 51px;
    font-weight: 700;
}

.leftPanel .point strong.num{
    font-size: 73px;
    font-weight: 400;
    line-height: 70px;
}